body {
    background-color: #eeaa22;
    color: white;
    margin: 0;
}

.title {
    font-size: 60px;
    text-align: center;
    margin: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span {
    display: table-cell;
    background-color: #2091dd;
    width: 200px;
    height: 200px;
    border: 5px solid #1a74b1;
    border-collapse: collapse;
    padding: 0;
}

div {
    margin: auto;
    width: fit-content;
}

.reset {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    filter: invert();
}

.win {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000dd;
    font-size: 300px;
    text-shadow:
    -5px -5px 0 #000,  
     5px -5px 0 #000,
     -5px 5px 0 #000,
      5px 5px 0 #000;
    margin: 0;
}

.OorX {
    transform: translate(20px, 20px);
}

.hidden {
    display: none;
}